[client]

[server]

[mysqld]
#basic settings
bind-address=0.0.0.0 # local address 127.0.0.1
port=3306
max_connections=100
log_error=/var/log/mysql/error.log
innodb_buffer_pool_size=256M

#extra
skip-name-resolve
# skip-name-resolve: Disables DNS host name lookups. This option is recommended if you don't use DNS.
skip-host-cache 
# skip-host-cache: Disables the DNS host cache. This option is recommended if you don't use DNS.
sql_mode=STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION 
#STRICT_TRANS_TABLES: Rejects invalid or missing values in data-change statements.
#NO_ENGINE_SUBSTITUTION: Prevents automatic substitution of the default storage engine when a statement such as CREATE TABLE or ALTER TABLE specifies a storage engine that is disabled or not compiled in.
character-set-server=utf8mb4 
collation-server=utf8mb4_general_ci